[submodule "klaudia"]
	path = klaudia
	url = https://github.com/Laoode/klaudia.git
	branch = feat/initial-setup
[submodule "mcp-sqlite"]
	path = mcp-sqlite
	url = https://github.com/Laoode/mcp-sqlite.git
	branch = feat/initial-setup
[submodule "mcp-gsheets"]
	path = mcp-gsheets
	url = https://github.com/Laoode/mcp-gsheets.git
